.res-card {
    width: 300px;
    background-color: #923737;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    border: 2px solid transparent;
    transition: border 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.res-card:hover {
    border-color: #a66d22;
    cursor: pointer;
}

.res-thumbnail {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
    margin-bottom: 10px;
}

.res-details {
    align-self: flex-start;
    text-align: left;
    font-size: 1em;
    color: #555;
}

.res-details {
    width: 250px;
    overflow: hidden;
    display: block;
}

.res-name,
.res-location,
.res-rating,
.res-time,
.res-cost-for-2,
.res-cuisines {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin: 0 0 2px 0;
}

.res-rating-time-cost li {
    display: flex;
    align-items: left;
}

.res-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.res-rating-time-cost {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
}


/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .res-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .res-thumbnail {
        width: 80px;
        height: 80px;
        margin-bottom: 15px;
    }
}