

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgroundColor);
    padding: 10px 20px;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar img {
    width: 50px; /* You can adjust this for responsiveness */
    height: auto;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 15px; /* Using gap for consistent spacing between items */
}

.nav-items li {
    background-color: var(--backgroundColor); /* Apply background color to each li */
    margin: 0;
}

.nav-items a {
    text-decoration: none;
    color: var(--contrast);
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    display: block; /* Make the anchor tag a block-level element to fill the li */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-items a:hover {
    background-color: var(--contrast);
    color: var(--backgroundColor);
}

/* Aligning .search-bar and .nav-items on the same line */
.navbar .nav-items, .navbar .search-bar {
    display: flex;
    align-items: center;
}
